.advantages{
    @include secondary_bc;
    @include size(1920,882);
    .advantages_container{
        @include container(90%);
        .advantages_header{
            @include secondary_color;
            @include header;
            margin:px2v(171) 0 px2v(94);
        }
        .advantages_content{
            display: flex;
            flex-wrap: wrap;
            gap: px2v(115) px2v(50);
            .advantage{
                display: flex;
                gap: px2v(45);
                align-items: center;
                img{
                    @include size(126,126);
                }
                p{
                    @include secondary_color;
                    @include font(500,25);
                    width: px2v(345);
                    text-align: left;
                }
            }
            .advantage:nth-child(3n){
                margin-left: px2v(60);
                p{
                    width: px2v(362);
                }
            }
            .advantage:nth-child(5n){
                p{
                    width: px2v(388);
                }
            }
            .advantage:nth-child(6n){
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width:480px){
    .advantages{
        @include mobile_size(480,825);
        .advantages_container{
            .advantages_header{
                @include mobile_header;
                margin-bottom:m_px2v(50);
            }
            .advantages_content{
                flex-direction: column;
                gap: m_px2v(35);
                .advantage:nth-child(1n){
                    gap: m_px2v(35);
                    margin-left: 0;
                    img{
                        @include mobile_size(75,75);
                    }
                    p{
                        @include secondary_color;
                        @include mobile_font(500,20);
                        width: m_px2v(300);
                        text-align: left;
                    }
                }
            }
        }
    }
}