.banner{
    @include section_size(1920,862);
    background-image: url("/assets/banner.png");
    .banner_container{
        padding-left: 5%;
        padding-top: 15%;
        h1{
            color: #fff;
            font-weight: 700;
            font-size: px2v(70);
            width: px2v(1500);
        }
    }
}