@mixin container($prc){
    width: $prc;
    margin: auto;
}

@mixin secondary_bc{
    background-color: #2668DA;
}

@mixin secondary_color{
    color: #fff;
}

@mixin header{
    font-weight: 600;
    font-size: px2v(40);
    text-align: center;
}

@mixin size($width,$height){
    width: px2v($width);
    height: px2v($height);
}

@mixin font($weight,$size){
    font-weight: $weight;
    font-size: px2v($size);
}

@mixin mobile_font($weight,$size){
    font-weight: $weight;
    font-size: m_px2v($size);
}

@mixin mobile_size($width,$height){
    width: m_px2v($width);
    height: m_px2v($height);
}

@mixin mobile_header{
    font-weight: 600;
    font-size: m_px2v(20);
    text-align: center;
}